body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
}
h1{
    font-size: 60px;
}
nav{
    background-color: black;
    flex: 0 0 500px;
}
nav ol{
    list-style: none;
    margin-top: 50px;
}
nav ol li{
    font-size: 35px;
    padding: 18px;
}
nav a{
    text-decoration: none;
    color: white;
}
a[href="#main"]::before{
    content: "\2661";
    margin: 10px;
    color: red;
}
a[href="#about"]::before{
    content: "\2667";
    margin: 10px;
}
a[href="#contacts"]::before{
    content: "\2662";
    margin: 10px;
    color: red;
}
a[target="_blank"]::before{
    content: "\2664";
    margin: 10px;
}
a[target="_blank"]::after{
    content: "\21B5";
    margin: 10px;
    color: red;
}
section{
    text-indent: 100px;
    padding: 40px;
    text-align: justify;
}
#about, #contacts, #main{
    display: none;
}
#main:target{
    display: block;
    margin-top: -95px;
}
#about:target{
    display: block;
    margin-top: -95px;
}
#contacts:target{
    display: block;
    margin-top: -95px;
}
@media all and (min-width: 961px) and (max-width: 1366px){
    nav{
        flex: 0 0 20px;
    }
    #textMain, #textAbout, #textContacts, #textFacebook{
        display: none;
    }
    nav ol{
        padding: 0;
    }
    a[target="_blank"]::after{
        display: none;
    }
}
@media all and (min-width: 200px) and (max-width: 960px){
    body{
        flex-direction: column;
    }
    nav{
        flex: 0 0 20px;
    }
    nav ol{
         margin: 0;
         padding: 0;
         display: inline-block;
     }
    nav ol li{
        display: inline-block;
    }
    #textMain, #textAbout, #textContacts, #textFacebook{
        display: none;
    }
    a[target="_blank"]::after{
        display: none;
    }
}